@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.bg-blue{background-color: #34495e ; }
.bg-dark-blue{background-color: #123e50 ; }
.bg-green{background-color: #2ecc71 ; }
.bg-dark-green{background-color: #1c7a44 ; }
.bg-red{background-color: #e74c3c ; }
.bg-{background-color: #34495e ; }