@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
/* -----------------------------------------------------------*/
/*________________COMMOM UTILITIES___________________________*/
.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

.clearfix:after {
  clear: both; }

/** {
  outline: red solid 1px; }*/
.bg-blue {
  background-color: #34495e  !important;
  color: white !important; }

.bg-dark-blue {
  background-color: #123e50;
  background-color: #2c3e50;
  color: white; }

.bg-green {
  background-color: #2ecc71;
  color: white; }

.bg-dark-green {
  background-color: #1c7a44;
  color: white; }

.bg-red {
  background-color: #e74c3c;
  color: white; }

.bg-gray {
  background: #f5f5f5; }

.text-green {
  color: #2ecc71; }

.text-white {
  color: white; }

.pd-2 {
  padding-top: 2%;
  padding-bottom: 2%; }

.pd {
  padding-top: 35px;
  padding-bottom: 35px; }

.pd-10 {
  padding-top: 4%;
  padding-bottom: 4%; }

.pd-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.header-blog li a {
  color: white; }

.tags .label {
  margin: 0px 5px; }

/* ------------------------------------------------------------*/
/*________________MENU___________________________*/
body {
  padding-top: 60px; }

.navbar-fixed-top {
  line-height: 60px; }

.navbar-nav > li > a, .navbar .navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 60px; }

.sombra {
  position: fixed;
  top: 60px;
  z-index: 100000;
  height: 12px;
  width: 100%;
  background: linear-gradient(#34495e, rgba(52, 73, 94, 0)); }

@media (max-width: 768px) {
  .navbar-fixed-top, .navbar-nav > li > a, .navbar .navbar-brand {
    line-height: 50px; }

  .navbar-nav > li > a {
    line-height: 40px; }

  .sombra {
    top: 50px; }

  .body {
    padding-top: 50px; } }
nav li a.active {
  background-color: #123e50;
  color: white; }

nav a {
  color: white; }

.navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #123e50 !important;
  color: white !important;
  box-shadow: 0px 0px 30px #1e324b;
  text-shadow: 0px 0px 2px white;
  font-weight: 200; }

nav li a:hover {
  box-shadow: 0px 0px 30px #1e324b;
  text-shadow: 0px 0px 2px white;
  background-color: #123e50 !important;
  color: white; }

.navbar .navbar-brand {
  font-size: 1.7em;
  font-weight: bolder; }

.navbar a {
  color: white !important; }

.navbar {
  margin: 0px;
  border: 0; }

header {
  transition: top 0.2s ease-in-out; }

.nav-up {
  top: -60px; }

/* -------------------------------------------------------*/
/*________________FOOTER___________________________*/
.list-company {
  list-style: none; }

.list-company li i {
  color: white;
  font-size: 12px;
  margin-right: 5px; }

.list-company {
  padding-left: 0; }

.bf {
  background: #d9534f;
  color: white;
  border-color: #d9534f; }

.list-footer li a, .list-company li a {
  color: white;
  text-decoration: none; }

.list-footer li i {
  font-size: 20px; }

footer p, footer li, footer a {
  color: rgba(255, 255, 255, 0.7) !important; }

.footer {
  padding: 30px 0; }

.footer1 {
  line-height: 50px; }

/* ----------------------------------------------*/
/*________________HOME___________________________*/
/*-------slider---*/
.carousel,
.item {
  height: 100%; }

.carousel-inner {
  height: 100%; }

.c-caption {
  position: absolute;
  top: 250px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.fill {
  width: 100%;
  height: 600px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

/*----Social Networks marketing------*/
.social-net .icono {
  float: left; }

.social-net .icono {
  position: relative;
  heigth: 100%;
  padding: 15px;
  border-radius: 100%;
  font-size: 2.5em;
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 100%;
  font-size: 2.5em;
  text-align: center; }

/*seccion gris---HOME+++++++++++++++++++++++++++++++++++++++*/
.cont-img {
  box-sizing: border-box;
  padding: 10px 10px 2px;
  background: white;
  border: solid #E6E6FA 1px; }

.gris {
  padding: 50px 0; }

.rojo {
  padding: 50px 0; }

/* ----------------------------------------------*/
/*________________ABOUT-US___________________________*/
.about-us .progress {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.about-us img.profile {
  border: 3px solid white; }

.about-us .redes-sociales a {
  color: white; }

.about-us .redes-sociales i {
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 100%;
  text-align: center; }

.about-us .fa-facebook {
  background-color: #4f7dd4; }

.about-us .fa-google {
  background-color: #dc422b; }

.about-us .fa-twitter {
  background-color: #5bceff; }

.about-us .fa-linkedin {
  background-color: #21a6d8; }

/* ----------------------------------------------*/
/*________________SERVICES___________________________*/
/*contenedor iconos+++++++++++++++++++++++++++*/
.window {
  padding-top: 50px; }

.linea {
  border-bottom: solid 1px #E6E6FA; }

.cont-1 {
  padding: 10px 0; }

.cont-ico i {
  font-size: 35px;
  position: relative;
  top: 20px;
  color: white;
  padding: 15px;
  background: gray;
  border-radius: 100%;
  margin-left: 10px; }

.article {
  padding: 30px 0 50px; }

/* ----------------------------------------------*/
/*________________PORTFOLIO___________________________*/
.cont-img1 {
  box-sizing: border-box;
  padding: 8px 8px 2px;
  background: white;
  border: solid #E6E6FA 1px;
  margin: 10px 0; }

.cont-portafolio {
  padding: 40px 0; }

/* ----------------------------------------------*/
/*________________BLOG___________________________*/
.cont-blog {
  padding-top: 30px; }

.header-blog {
  padding: 50px 0; }

.terno {
  width: 100%; }

.cont-parrafo {
  background: white; }

.cont-parrafo h3, .cont-parrafo ul, .cont-parrafo p, .cont-parrafo .bt {
  margin-left: 20px; }

.colores {
  overflow: hidden;
  border-radius: 10px;
  width: 100%; }

.cont-parrafo p {
  margin-right: 20px; }

.cont-parrafo h3 {
  margin-top: 0;
  padding-top: 20px; }

.bt a {
  color: black;
  text-decoration: none; }

.bt {
  border: solid #E6E6FA 1px; }

.post {
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 8px;
  background: white;
  margin-bottom: 15px; }

/*columna derecha---------------------------*/
.better {
  border-radius: 5px; }

.list-categories {
  list-style: none; }

.categories span {
  margin: 3px 5px; }

/* ----------------------------------------------*/
/*________________CONTACT-US___________________________*/
.post .media-body, .post .media-principal {
  background: #eeeeee;
  border-radius: 3px;
  padding: 5px 5px; }

.post .media {
  margin: 10px 15px; }

/* ----------------------------------------------*/
/*________________CONTACT-US___________________________*/
input:invalid {
  background: #faf0fa; }

/*# sourceMappingURL=main.css.map */
