@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.bg-blue{
	background-color: #34495e ;
	color:white; }

.bg-dark-blue{
	background-color: #123e50 ;
	color:white; }

.bg-green{
	background-color: #2ecc71 ;
	color:white; }

.bg-dark-green{
	background-color: #1c7a44 ; 
	color:white;}

.bg-red{
	background-color: #e74c3c ;
	color:white; 
}

.text-green{color:#2ecc71; }
/*footer================================================================*/
footer *{outline: green solid 1px;}
.list-company{
	list-style: none;
}
.bf{
	background: #d9534f;
	color: white;
	border-color:#d9534f;
}
.list-footer li a{
	color: white;
	text-decoration: none;
}